.duan{
    position: relative;
    width: 100%;
    min-height: 160vh;

}


.header{
    width: 100%;
    margin-top: 0px;
    max-height: 100px;
    position: absolute;
}
.center{
    width: 100%;
    margin-top: 130px;
    position: absolute;
}
.footer{
    width: 100%;
    max-height: 50px; 
    position: absolute;
    bottom: 0px;
    
}
span .sum-number{
    margin-bottom: 0px;
}
.container-fluid{
    width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-fluid> .d-flex>.btn{
    margin: 0px 4px;
    
}